.InformationalBlog{
    padding-left: 40px;
    padding-right:40px;
    
}

.Info-Blog-heading{
    color: #111;
    font-family: "Inter";
    text-align: center;
}
p{
    color: #777;
}
.blog-box{
    display: flex;
    
}
