.InformationalBlog{
    padding-left: 40px;
    padding-right:40px;
    font-family: "Inter";
    margin-top: 40px;
    margin-bottom: 40px;
}

.Info-Blog-heading{
    color: #111;
    
    text-align: center;
}
p{
    color: #777;
}
.Blog-Box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
