.agency {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  background-color: rgb(255, 254, 254);
  font-family: "Inter";
}
.paragraph-agency {
  color: #777;
  font-size: 20px;
}

.heading-agency {
  color: black;
}
.service-box{
  margin: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;



}
.shopify-div{
  color: #111;
  font-size: 2rem;
  text-decoration: none !important; 
  text-align: start;
  margin-top: 10px;
}
.shopify-bar{
  /* font-weight: 900; */
  color: #111;
  margin-right: 180px;
}
.shopify-rm{
  color: #111;
  margin-right: 180px;
  transition: color 0.3s ease-in-out;
}
.shopify-rm:hover{
  color: #000000;
  transition: color 0.3s ease-in-out;
}
.card-1,
.card-2,
.card-3 
{
  border-radius: 40px;
  box-shadow: -3px -3px 7px #ffffff42, 3px 3px 5px rgba(0,0,0, 0.374);
  outline-color: aqua;
  background-color: rgb(255, 254, 254);
 
}

.card-1,
.card-2,
.card-3:hover > :not(:hover) {
aspect-ratio: 1/1;
object-fit: cover;

}


/* Styles on hover */
.service-box .card-1:hover {
  background-color: rgb(255, 254, 254); /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.service-box .card-2:hover {
  background: linear-gradient(#EA5A1B,#2CA3CC); /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.service-box .card-3:hover {
  background: linear-gradient(#EA5A1B,#2CA3CC); /* Change background color on hover */
  color: white; /* Change text color on hover */
}
