.GetInTouch{
    margin-top: 20px;
    background-image: url("/Images/GetInTouch/GetIn.webp");
    background-size: cover; /* Adjust the size of the background image */
    background-position: center;
    height: 55vh;
}


.HeadingGIT{
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Inter";
    color: black;
}
.form-box1{
    margin-left: 25%;
    
    width: 50%;
   
  

  }   
  .input-label{
    position: absolute;
    color: #999 ;
    top: 50%;
    left:4%;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s color 0.3s;

}
.input-container{
  position: relative;
  margin-bottom: 20px;
}
.input-field{
  width: 800px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  transition: box-shadow 0.3s ;
  font-size: 16px;
  outline: none;
}
.input-field:focus.input-label,
.input-field:not(:placeholder-shown)+.input-label{
  top:0%; 
  font-size:12px;
  color:#000;
  padding:3px;
  background-color: #eafcff;
  border-radius: 3px;
  font-weight: 700;
}
.inqury-btn2 {
    font-family: "Inter";
    padding: 0.4em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    margin-left: 45%;
    padding-top: auto;
    font-size: 1.3rem; 
    
  }
  .inqury-btn2:before{
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .inqury-btn2:active{
    color: #111;
  }
  
  .inqury-btn2:active::after{
    background: transparent;
  }
  .inqury-btn2:hover::before{
    opacity: 1;
  }
  .inqury-btn2:after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }