.ServiceWeOffer{
    margin: 40px;
    font-family: "Inter";
}
.Serviceheading{
    color: black;
    font-weight: 600;
}
.service-div{
    text-decoration:none !important;
    color: #111;
    font-size: 35px;
    
}

.Services-Box{
display: flex;
flex-wrap: wrap;
gap: 20px;
 justify-content: center;

 
  }
  .cardbox{
    box-shadow: -3px -3px 7px #ffffffcf, 3px 3px 5px #444;
  }
  .seo-div{
    margin-bottom: 40px;
    margin-right: 155px
  }
  .serviceBox1{
    display: flex;
    gap: 20px;
    align-items: center;

  }
  .platform-div{
    text-decoration: none;
    /* align-items: end; */
    color: black;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 80px;
    
  }
  .underline{
    position: relative; /* Necessary for pseudo-element */
  transition: color 0.3s ease-in-out;
  }
  .underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust the underline thickness */
    bottom: -2px; /* Adjust the distance from the text */
    left: 0;
    background-color: rgba(0, 0, 0, 0.588);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; /* Transition the underline appearance */
  }
  
  .underline:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .underline:hover {
    color: rgba(120, 7, 7, 0.194); /* Optional: Change color on hover */
  }

  @media screen and (max-width: 768px) {
    .serviceBox1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .platform-div {
      padding-left: 0;
      text-align: center;
    }
  
}