.ServiceWeOffer{
    margin: 40px;
    font-family: "Inter";
}
.Serviceheading{
    color: black;
    font-weight: 600;
}
.service-div{
    text-decoration:none !important;
    color: #111;
    font-size: 35px;
    
}

.Services-Box{
display: flex;
flex-wrap: wrap;
gap: 20px;
 justify-content: center;

 
  }
  .cardbox{
    box-shadow: -3px -3px 7px #ffffffcf, 3px 3px 5px #444;
  }
  .seo-div{
    margin-bottom: 40px;
    margin-right: 155px
  }
  .serviceBox1{
    display: flex;
    gap: 20px;
    align-items: center;

  }
  .platform-div{
    text-decoration: none;
    /* align-items: end; */
    color: black;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 80px;
  }

  @media screen and (max-width: 768px) {
    .serviceBox1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .platform-div {
      padding-left: 0;
      text-align: center;
    }
  
}