.MiddleContent{
    display: flex;
    gap: 20px;
    background-color: rgb(255, 254, 254);
    font-family: "Inter";
    
    
}
.ContentHeading{
    color: #111;
    text-align: center;
    margin: 40px;
    
}
.ContentWriting{
    font-size: 15px;
    text-align: center;
    margin: 40px;
}
.breakLine{
    text-align: center;
    color: #d1cbcb;
}
@media screen and (max-width: 768px) {
    .MiddleContent {
      flex-direction: column;
      align-items: center;
    }
  
}
   
    

  
  
 