/* Customize your styles as needed
.testimonial-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
}

.testimonial {
  max-width: 55%; /* Adjust the width as needed */
  /* margin: 25px;
  text-align: center;
}
.testimonial-countainer{
  text-align: center;
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial1{
  margin: 10%;
  padding: 10%;
  text-align: center;
  font-size: 25px;
} */ */