/* Customize your styles as needed
.testimonial-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
}


.testimonial-countainer{
  text-align: center;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial1{
    max-width: 100%; /* Adjust the width as needed */
    /* margin: 25px;
    text-align: center;
    padding: 10px;
    color: black;
}  */ 