.eCommerceWebsite{
    font-family: "Inter";
    margin: 40px;
    
}

.eCommerceWebiste-Heading{
    text-align: center;
    color: #000;
}
.eCommerceWebiste-Image{
    display: flex;
    justify-content: center;
}


