.intro-Dock{
    margin-top: 50px;
    font-family: "Inter";
}

.introduction{
    text-align: center;

}
.heading{
    color: black;
    font-weight: 800;
    
}
.paragraph{
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right:20px;
}
.evalution{
    display: flex;
    font-size: x-large;
    justify-content: space-evenly;
}

.projects{
    margin: 20px;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    
}
.jbsaeed {
    cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
  
  }
  .jbsaeed:before{
    content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glow 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  }
@keyframes glow {
    0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      } 
}

.jbsaeed:active{
    color: #111;
}
.jbsaeed:active::after{
    background: transparent;
}
.jbsaeed:hover::before{
    opacity: 1;
  }
  .jbsaeed:after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
